github "Alamofire/Alamofire" ~> 4.5
github "SwiftyJSON/SwiftyJSON"
github "kishikawakatsumi/KeychainAccess"
github "Quick/Quick"
github "Quick/Nimble"
gitHub "AliSoftware/OHHTTPStubs"
github "onevcat/Kingfisher" ~> 5.12.0
github "scalessec/Toast-Swift" ~> 5.0.1
